@charset "utf-8";

h1 {
    font-size: xx-large;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description {
    width: 960px;
    margin: 0 auto;
    margin-left: 10px;
    position: absolute;
    z-index: 9999;
}

.work_img1 {
    width: 100%;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

section img {
    width: 960px;
    position: absolute;
    top: 300px;
    z-index: 9999;
}

.work_img1_shift img {
    width: 800px;
    padding-bottom: 50px;
}